# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_STARTER_ID=price_xxx
STRIPE_PLUS_ID=price_xxx
STRIPE_PRO_ID=price_xxx

# App
APP_URL=http://localhost:3000
NODE_ENV=development
